h1{ margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  width: 500px;
  border-left: 4px solid red;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  font-size: 20px;
}

form { margin: 0 auto;
  background-color: #fbfbfb;
  width: 500px;
  border: 3px solid #ebebeb;
  border-radius: 10px;
}

form div{
  padding: 15px;
}

.text, select, textarea {
  border: 2px #dfdfdf solid;
  border-radius: 2px;
  padding: 5px;
  color: #999;
  background-color: #fff;
}

.submit {
  border: 1px solid lightgray;
  border-bottom: 2px solid gray;
  background-color: #bfbfbf;
  color: white;
  border-radius: 5px;
  padding: 4px 10px;
}